[data-page="_global_menu"][data-itemid="welcome_item"] .r-w-icon {
  background-color: #3cb37140;
  color: light-dark(#15743f, #4fd38a);
}
[data-page="_global_menu"][data-itemid="welcome_item"] .r-w-item:hover .r-w-icon {
  background-color: #3cb371;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item1"] .r-w-icon {
  background-color: #4169e140;
  color: light-dark(#0732b5, #6588f0);
}
[data-page="_global_menu"][data-itemid="welcome_item1"] .r-w-item:hover .r-w-icon {
  background-color: #4169e1;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item2"] .r-w-icon {
  background-color: #d2af8040;
  color: light-dark(#c68226, #e5c8a0);
}
[data-page="_global_menu"][data-itemid="welcome_item2"] .r-w-item:hover .r-w-icon {
  background-color: #d2af80;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item3"] .r-w-icon {
  background-color: #e6734940;
  color: light-dark(#c53804, #f4926e);
}
[data-page="_global_menu"][data-itemid="welcome_item3"] .r-w-item:hover .r-w-icon {
  background-color: #e67349;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item4"] .r-w-icon {
  background-color: #edca0040;
  color: light-dark(#877300, #ffde21);
}
[data-page="_global_menu"][data-itemid="welcome_item4"] .r-w-item:hover .r-w-icon {
  background-color: #edca00;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item5"] .r-w-icon {
  background-color: #dc143c40;
  color: light-dark(#8a001c, #f82b54);
}
[data-page="_global_menu"][data-itemid="welcome_item5"] .r-w-item:hover .r-w-icon {
  background-color: #dc143c;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item6"] .r-w-icon {
  background-color: #6493ea40;
  color: light-dark(#0453e4, #8bb0f6);
}
[data-page="_global_menu"][data-itemid="welcome_item6"] .r-w-item:hover .r-w-icon {
  background-color: #6493ea;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item7"] .r-w-icon {
  background-color: #7b68ee40;
  color: light-dark(#2200f0, #9f90f9);
}
[data-page="_global_menu"][data-itemid="welcome_item7"] .r-w-item:hover .r-w-icon {
  background-color: #7b68ee;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item8"] .r-w-icon {
  background-color: #db709340;
  color: light-dark(#ce1753, #ec92b0);
}
[data-page="_global_menu"][data-itemid="welcome_item8"] .r-w-item:hover .r-w-icon {
  background-color: #db7093;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item9"] .r-w-icon {
  background-color: #6493ea40;
  color: light-dark(#0453e4, #8bb0f6);
}
[data-page="_global_menu"][data-itemid="welcome_item9"] .r-w-item:hover .r-w-icon {
  background-color: #6493ea;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item10"] .r-w-icon {
  background-color: #e0787840;
  color: light-dark(#dd1515, #ef9c9c);
}
[data-page="_global_menu"][data-itemid="welcome_item10"] .r-w-item:hover .r-w-icon {
  background-color: #e07878;
  color: white;
}
[data-page="_global_menu"][data-itemid="welcome_item11"] .r-w-icon {
  background-color: #d2af8040;
  color: light-dark(#c68226, #e5c8a0);
}
[data-page="_global_menu"][data-itemid="welcome_item11"] .r-w-item:hover .r-w-icon {
  background-color: #d2af80;
  color: white;
}
[data-page="_global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


