<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" data-page="cuentas_view"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header}="" data-pageid="{$pageid}" >{$pagetitlelabel cuentas view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" data-page="cuentas_view"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" data-page="cuentas_view" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-vertical-field" 
	data-signal-error-for="id{$id}" {$required_attr_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field}="" data-pageid="{$pageid}" data-field="id" data-fieldname="id" >

	<label class="r-edit-label control-label {$id_label_class}" for="{$labelfor_id}">
		{BEGIN id_label}
			{$id_forward_control}
			{$label cuentas id }			{END id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$id_value}	</div>
	</div>


{END id_fieldblock}
											
{BEGIN socio_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_socio_id}  r-vertical-field" 
	data-signal-error-for="socio_id{$id}" {$required_attr_socio_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1}="" data-pageid="{$pageid}" data-field="socio_id" data-fieldname="socio_id" >

	<label class="r-edit-label control-label {$socio_id_label_class}" for="{$labelfor_socio_id}">
		{BEGIN socio_id_label}
			{$socio_id_forward_control}
			{$label cuentas socio_id }			{END socio_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$socio_id_value}	</div>
	</div>


{END socio_id_fieldblock}
											
{BEGIN numero_cuenta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_numero_cuenta}  r-vertical-field" 
	data-signal-error-for="numero_cuenta{$id}" {$required_attr_numero_cuenta}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2}="" data-pageid="{$pageid}" data-field="numero_cuenta" data-fieldname="numero_cuenta" >

	<label class="r-edit-label control-label {$numero_cuenta_label_class}" for="{$labelfor_numero_cuenta}">
		{BEGIN numero_cuenta_label}
			{$numero_cuenta_forward_control}
			{$label cuentas numero_cuenta }			{END numero_cuenta_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$numero_cuenta_value}	</div>
	</div>


{END numero_cuenta_fieldblock}
											
{BEGIN tipo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo}  r-vertical-field" 
	data-signal-error-for="tipo{$id}" {$required_attr_tipo}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3}="" data-pageid="{$pageid}" data-field="tipo" data-fieldname="tipo" >

	<label class="r-edit-label control-label {$tipo_label_class}" for="{$labelfor_tipo}">
		{BEGIN tipo_label}
			{$tipo_forward_control}
			{$label cuentas tipo }			{END tipo_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tipo_value}	</div>
	</div>


{END tipo_fieldblock}
											
{BEGIN saldo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_saldo}  r-vertical-field" 
	data-signal-error-for="saldo{$id}" {$required_attr_saldo}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4}="" data-pageid="{$pageid}" data-field="saldo" data-fieldname="saldo" >

	<label class="r-edit-label control-label {$saldo_label_class}" for="{$labelfor_saldo}">
		{BEGIN saldo_label}
			{$saldo_forward_control}
			{$label cuentas saldo }			{END saldo_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$saldo_value}	</div>
	</div>


{END saldo_fieldblock}
											
{BEGIN estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-vertical-field" 
	data-signal-error-for="estado{$id}" {$required_attr_estado}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5}="" data-pageid="{$pageid}" data-field="estado" data-fieldname="estado" >

	<label class="r-edit-label control-label {$estado_label_class}" for="{$labelfor_estado}">
		{BEGIN estado_label}
			{$estado_forward_control}
			{$label cuentas estado }			{END estado_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$estado_value}	</div>
	</div>


{END estado_fieldblock}
											
{BEGIN created_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-vertical-field" 
	data-signal-error-for="created_at{$id}" {$required_attr_created_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6}="" data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >

	<label class="r-edit-label control-label {$created_at_label_class}" for="{$labelfor_created_at}">
		{BEGIN created_at_label}
			{$created_at_forward_control}
			{$label cuentas created_at }			{END created_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$created_at_value}	</div>
	</div>


{END created_at_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" data-page="cuentas_view"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit}="" data-pageid="{$pageid}" data-small="" >
				<a  href="cuentas_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
