<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" data-page="cuotas_edit"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header}="" data-pageid="{$pageid}" >{$pagetitlelabel cuotas edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" data-page="cuotas_edit"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message}="" data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="cuotas_view.php?{$editlink}" {$view_page_button_attrs}>{mlang_message VIEW}</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" data-page="cuotas_edit" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN prestamo_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_prestamo_id}  r-vertical-field" 
	data-signal-error-for="prestamo_id{$id}" {$required_attr_prestamo_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field}="" data-pageid="{$pageid}" data-field="prestamo_id" data-fieldname="prestamo_id" >

	<label class="r-edit-label control-label {$prestamo_id_label_class}" for="{$labelfor_prestamo_id}">
		{BEGIN prestamo_id_label}
			{$prestamo_id_forward_control}
			{$label cuotas prestamo_id }			{END prestamo_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$prestamo_id_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="prestamo_id" {$tooltipAttr cuotas prestamo_id } >
		<div class="text-muted" >
		{$tooltip cuotas prestamo_id }		</div>
	</div>
	</div>


{END prestamo_id_fieldblock}
											
{BEGIN numero_cuota_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_numero_cuota}  r-vertical-field" 
	data-signal-error-for="numero_cuota{$id}" {$required_attr_numero_cuota}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1}="" data-pageid="{$pageid}" data-field="numero_cuota" data-fieldname="numero_cuota" >

	<label class="r-edit-label control-label {$numero_cuota_label_class}" for="{$labelfor_numero_cuota}">
		{BEGIN numero_cuota_label}
			{$numero_cuota_forward_control}
			{$label cuotas numero_cuota }			{END numero_cuota_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$numero_cuota_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="numero_cuota" {$tooltipAttr cuotas numero_cuota } >
		<div class="text-muted" >
		{$tooltip cuotas numero_cuota }		</div>
	</div>
	</div>


{END numero_cuota_fieldblock}
											
{BEGIN monto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_monto}  r-vertical-field" 
	data-signal-error-for="monto{$id}" {$required_attr_monto}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2}="" data-pageid="{$pageid}" data-field="monto" data-fieldname="monto" >

	<label class="r-edit-label control-label {$monto_label_class}" for="{$labelfor_monto}">
		{BEGIN monto_label}
			{$monto_forward_control}
			{$label cuotas monto }			{END monto_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$monto_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="monto" {$tooltipAttr cuotas monto } >
		<div class="text-muted" >
		{$tooltip cuotas monto }		</div>
	</div>
	</div>


{END monto_fieldblock}
											
{BEGIN fecha_vencimiento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_vencimiento}  r-vertical-field" 
	data-signal-error-for="fecha_vencimiento{$id}" {$required_attr_fecha_vencimiento}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3}="" data-pageid="{$pageid}" data-field="fecha_vencimiento" data-fieldname="fecha_vencimiento" >

	<label class="r-edit-label control-label {$fecha_vencimiento_label_class}" for="{$labelfor_fecha_vencimiento}">
		{BEGIN fecha_vencimiento_label}
			{$fecha_vencimiento_forward_control}
			{$label cuotas fecha_vencimiento }			{END fecha_vencimiento_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_vencimiento_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="fecha_vencimiento" {$tooltipAttr cuotas fecha_vencimiento } >
		<div class="text-muted" >
		{$tooltip cuotas fecha_vencimiento }		</div>
	</div>
	</div>


{END fecha_vencimiento_fieldblock}
											
{BEGIN estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-vertical-field" 
	data-signal-error-for="estado{$id}" {$required_attr_estado}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4}="" data-pageid="{$pageid}" data-field="estado" data-fieldname="estado" >

	<label class="r-edit-label control-label {$estado_label_class}" for="{$labelfor_estado}">
		{BEGIN estado_label}
			{$estado_forward_control}
			{$label cuotas estado }			{END estado_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$estado_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="estado" {$tooltipAttr cuotas estado } >
		<div class="text-muted" >
		{$tooltip cuotas estado }		</div>
	</div>
	</div>


{END estado_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" data-page="cuotas_edit"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN reset_button}
	<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset}="" data-pageid="{$pageid}" data-small="" >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
{END reset_button}
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view}="" data-pageid="{$pageid}" data-small="" >
				<a  href="cuotas_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		{mlang_message VIEW}		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
