<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" data-page="prestamos_view"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header}="" data-pageid="{$pageid}" >{$pagetitlelabel prestamos view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" data-page="prestamos_view"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" data-page="prestamos_view" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-vertical-field" 
	data-signal-error-for="id{$id}" {$required_attr_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field}="" data-pageid="{$pageid}" data-field="id" data-fieldname="id" >

	<label class="r-edit-label control-label {$id_label_class}" for="{$labelfor_id}">
		{BEGIN id_label}
			{$id_forward_control}
			{$label prestamos id }			{END id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$id_value}	</div>
	</div>


{END id_fieldblock}
											
{BEGIN socio_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_socio_id}  r-vertical-field" 
	data-signal-error-for="socio_id{$id}" {$required_attr_socio_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1}="" data-pageid="{$pageid}" data-field="socio_id" data-fieldname="socio_id" >

	<label class="r-edit-label control-label {$socio_id_label_class}" for="{$labelfor_socio_id}">
		{BEGIN socio_id_label}
			{$socio_id_forward_control}
			{$label prestamos socio_id }			{END socio_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$socio_id_value}	</div>
	</div>


{END socio_id_fieldblock}
											
{BEGIN monto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_monto}  r-vertical-field" 
	data-signal-error-for="monto{$id}" {$required_attr_monto}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2}="" data-pageid="{$pageid}" data-field="monto" data-fieldname="monto" >

	<label class="r-edit-label control-label {$monto_label_class}" for="{$labelfor_monto}">
		{BEGIN monto_label}
			{$monto_forward_control}
			{$label prestamos monto }			{END monto_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$monto_value}	</div>
	</div>


{END monto_fieldblock}
											
{BEGIN interes_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_interes}  r-vertical-field" 
	data-signal-error-for="interes{$id}" {$required_attr_interes}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3}="" data-pageid="{$pageid}" data-field="interes" data-fieldname="interes" >

	<label class="r-edit-label control-label {$interes_label_class}" for="{$labelfor_interes}">
		{BEGIN interes_label}
			{$interes_forward_control}
			{$label prestamos interes }			{END interes_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$interes_value}	</div>
	</div>


{END interes_fieldblock}
											
{BEGIN plazo_meses_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_plazo_meses}  r-vertical-field" 
	data-signal-error-for="plazo_meses{$id}" {$required_attr_plazo_meses}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4}="" data-pageid="{$pageid}" data-field="plazo_meses" data-fieldname="plazo_meses" >

	<label class="r-edit-label control-label {$plazo_meses_label_class}" for="{$labelfor_plazo_meses}">
		{BEGIN plazo_meses_label}
			{$plazo_meses_forward_control}
			{$label prestamos plazo_meses }			{END plazo_meses_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$plazo_meses_value}	</div>
	</div>


{END plazo_meses_fieldblock}
											
{BEGIN estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-vertical-field" 
	data-signal-error-for="estado{$id}" {$required_attr_estado}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5}="" data-pageid="{$pageid}" data-field="estado" data-fieldname="estado" >

	<label class="r-edit-label control-label {$estado_label_class}" for="{$labelfor_estado}">
		{BEGIN estado_label}
			{$estado_forward_control}
			{$label prestamos estado }			{END estado_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$estado_value}	</div>
	</div>


{END estado_fieldblock}
											
{BEGIN fecha_solicitud_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_solicitud}  r-vertical-field" 
	data-signal-error-for="fecha_solicitud{$id}" {$required_attr_fecha_solicitud}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6}="" data-pageid="{$pageid}" data-field="fecha_solicitud" data-fieldname="fecha_solicitud" >

	<label class="r-edit-label control-label {$fecha_solicitud_label_class}" for="{$labelfor_fecha_solicitud}">
		{BEGIN fecha_solicitud_label}
			{$fecha_solicitud_forward_control}
			{$label prestamos fecha_solicitud }			{END fecha_solicitud_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_solicitud_value}	</div>
	</div>


{END fecha_solicitud_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" data-page="prestamos_view"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit}="" data-pageid="{$pageid}" data-small="" >
				<a  href="prestamos_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
